[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/
[Pp]rojectSettings/EditorBuildSettings.asset
[Pp]rojectSettings/QualitySettings.asset
[Pp]rojectSettings/ProjectVersion.txt
UserSettings/
*.csproj
*.sln
*.user
*.unitypackage
